
@{

    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul>
    <li>@Html.ActionLink("Laptop","Details","Products",null)</li>
    <li>@Html.ActionLink("Desktop", "Details", "Products", null)</li>
    <li>@Html.ActionLink("Tablet", "Details", "Products", null)</li>
</ul>
